rough.py
.env
docQnAaditya.py
GeneralQnA.py
*.env
**/.env
.DS_Store
.Rhistory
__pycache__


/generated/prisma
node_modules
faiss_cache
temp_microsoftFY 2024.pdf
temp_microsoftFY2024.pdf
temp_temp_microsoftFY 2024.pdf
microsoftFYY2024.pdf