streamlit
langchain
langchain-community
langchain-core
langchain-huggingface
langchain-pinecone
langchain-groq
langchain-docling
pinecone-client
transformers
sentence-transformers
pytz
docling
ipython
pillow
langgraph
tavily-python
langchain-google-genai
langchain_tavily
trafilatura
boto3
unstract
