langchain
langchain-community
langchain-core
langchain-huggingface
langchain-groq
transformers
sentence-transformers
pytz
ipython
pillow
langgraph
tavily-python
langchain-google-genai
langchain_tavily
trafilatura
boto3
unstract
llmwhisperer-client
faiss-cpu
langchain_ollama
mem0ai
langgraph-checkpoint-redis
fastapi
uvicorn
redis
google-cloud-storage==2.10.0
python-multipart==0.0.6
pydantic==2.5.0
python-dotenv==1.0.0
gunicorn

