langchain
langchain-community
langchain-huggingface
transformers
sentence-transformers
pytz
ipython
pillow
langgraph
tavily-python
langchain_tavily
trafilatura
boto3
unstract
llmwhisperer-client
faiss-cpu
langchain_ollama
fastapi
uvicorn[standard]
python-multipart
langgraph
langgraph-checkpoint-sqlite
langchain-groq
langchain-google-genai
langchain-core
typing-extensions
pydantic
python-dotenv
mem0ai